TaskWidget {
    layout: horizontal;
    background: $boost;
    /* height: 3; */
    margin: 1;
}

TaskWidget Checkbox {
    /* Make checkbox only use single row height */
    padding: 0;
    height: 1;
    border: none;
}