TaskWidget {
    layout: horizontal;
    background: $boost;
    /* height: 3; */
    margin: 1;
}

TaskWidget Checkbox {
    /* Make checkbox only use single row height */
    padding: 0;
    height: 1;
    border: none;
}

EditScreen {
    align: center middle;
}

EditScreen #dialog {
    grid-size: 2;
    grid-gutter: 1 2;
    grid-rows: 1fr 3;
    padding: 0 1;
    width: 80%;
    height: 11;
    border: thick $background 80%;
    background: $surface;
}